<div class="small-container center-block">
    <h1>Editando Categoria</h1>

    <%= render 'form', category: @category %>

    <%= link_to 'Ver Detalles', @category %> |
    <%= link_to 'Atras', categories_path %>

</div>
    